<section class="nav-bar">
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a routerLink="/">HOME</a></li>
           @if(authService.isAdmin()) {
                <li><a routerLink="/category">CATEGORIES</a></li>
                <li><a routerLink="/option">OPTIONS</a></li>
                <li><a routerLink="/product">PRODUCTS</a></li>
                <li><a routerLink="/orders/admin">MANAGE ORDERS</a></li>
                <li class="welcome">
                    Welcome, {{ authService.user()?.displayName }}
                </li>
                <li><a routerLink="/cart">CART</a></li>
                <li><a routerLink="/orders">ORDERS</a></li>
            }
            @else if (authService.isAuthenticated()) {
                <li class="welcome">
                    Welcome, {{ authService.user()?.displayName }}
                </li>
                <li><button type="button" (click)="logout()">LOGOUT</button></li>
                <li><a routerLink="/cart">CART</a></li>
                <li><a routerLink="/orders">ORDERS</a></li>
            } @else {
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/register">REGISTER</a></li>
            }
        </ul>
    </nav>
</section>