* {
    box-sizing: border-box;
    background-color: #111827;
    color: #EAEAEA;
}

.nav-bar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-nav {
    margin-left: 30px;
}

.main-nav > a {
    padding-inline: 7px;
}

.nav-links li:hover {
    border: 1px solid #fafafa;
}

.nav-links {
    display: flex;
    list-style: none;
    
}

.nav-links a {
    text-decoration: none;
}


.nav-links li {
    padding-inline: 5px;
    padding-block: 10px;
    margin-inline: 5px;
}