<section class="nav-bar">
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a routerLink="/">CATEGORIES</a></li>
            <li><a routerLink="/option">OPTIONS</a></li>
            <li><a routerLink="/product">PRODUCTS</a></li>
            @if(authService.isAdmin()) {
                <li><a routerLink="/admin">ADMIN</a></li>
            }
            @if (authService.isAuthenticated()) {

                <li class="welcome">
                    Welcome, {{ authService.user()?.displayName }}
                </li>
                <li>
                    <button type="button" (click)="logout()">LOGOUT</button>
                </li>

            } @else {
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/register">REGISTER</a></li>
            }
        </ul>
    </nav>
</section>