<section class="nav-bar">
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a routerLink="/" (click)="resetSearch()">HOME</a></li>
            <li>
                <input type="text" placeholder="Search..." [value]="filterService.filter().search"
                    (input)="filterService.updateSearch($any($event.target).value)" />
            </li>
           @if(authService.isAdmin()) {
                <li><a routerLink="/category" (click)="resetSearch()">CATEGORIES</a></li>
                <li><a routerLink="/option" (click)="resetSearch()">OPTIONS</a></li>
                <li><a routerLink="/product" (click)="resetSearch()">PRODUCTS</a></li>
                <li><a routerLink="/orders/admin" (click)="resetSearch()">MANAGE ORDERS</a></li>
                <li class="welcome">
                    Welcome, {{ authService.user()?.displayName }}
                </li>
                <li><button type="button" (click)="logout(); resetSearch()">LOGOUT</button></li>
                <li><a routerLink="/cart" (click)="resetSearch()">CART</a></li>
                <li><a routerLink="/orders" (click)="resetSearch()">ORDERS</a></li>
            }
            @else if (authService.isAuthenticated()) {
                <li class="welcome">
                    Welcome, {{ authService.user()?.displayName }}
                </li>
                <li><button type="button" (click)="logout(); resetSearch()">LOGOUT</button></li>
                <li><a routerLink="/cart" (click)="resetSearch()">CART</a></li>
                <li><a routerLink="/orders" (click)="resetSearch()">ORDERS</a></li>
            } @else {
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/register">REGISTER</a></li>
            }
        </ul>
    </nav>
</section>