<input type="text" placeholder="Search..." [value]="filter().search"
    (input)="updateSearch($any($event.target).value)"/>

<section class="product-grid">
    @if (products.isLoading()) {
        <p>Loading...</p>
    }
    @if(products.value(); as result) {
        @for(product of result.items; track product.id) {
            <article class="product-card" [routerLink]="['/product', product.id]">
                @if(product.productImages.length){
                    <img [src]="product.productImages[0].url" [alt]="product.name" />
                }
                <p>{{product.productVariants.length - 1}} other
                    @for (option of product.options; track option.id) {
                        {{option.name.toLowerCase()}}s @if (!$last) { / }
                    }
                available
                </p>
                <p>{{product.description}},  
                    @for (option of product.options; track option.id) {
                        {{option.name.toLowerCase()}} @if (!$last) {, }
                    }   
                </p>
            </article>
        }
    }
</section>