<h2>{{isEditMode() ? "Edit Category" : "Create Category"}}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name" />
            @if (name.invalid && (name.dirty || name.touched)) {
                <div>
                    @if (name.hasError('required')) {
                        <small>Name is required</small>
                    }
                    @if (name.hasError('maxlength')) {
                        <small>Name must be less than 50 characters long</small>
                    }
                </div>
            }
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" rows="5"></textarea>
            @if (description.invalid && (description.dirty || description.touched)) {
                <div>
                @if (description.hasError('required')) {
                    <small>Description is required</small>
                }
                @if (description.hasError('maxlength')) {
                    <small>Description must be less than 300 characters long</small>
                }
                </div>
            }
    </div>
</form>